@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    /* height: 100vh; */
    margin: 0 0 !important;
    width: 20vw;
}

#userInput {
    padding: 10px;
    font-size: 18px;
    border: none;
    border: 2px solid black;
    margin-bottom: 10px;
    width: 344px !important;
    text-align: center;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
}

.submit-btn button {
    width: 344px;
}

.submit-btn {
    padding-bottom: 5px;
}

#map {
    width: 50vw; 
    height: 925px
}

.main {
    display: flex;
    flex-direction: row;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.search-container {
    width: 15vw;
    height: 925px;
    padding-left: 5px;
}

#search-history {
    height: 820px;
}

#search-history button {
    display: block;
    margin-bottom: 4px;
    height: 50px; 
}

hr {
    background-color: black;
    margin: 0.5rem 0;
}

.history-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.history-div p {
    font-size: 25px;
}

.hide {
    display: none;
}